<div class="container-fluid">
  <div class ="row jumbotron jumbotron-fluid text-white text-center"
        style="height:100vh;background:url(/zinnbut.jpg);background-size:cover;">
    <div class="container">
      <p class = "h4">新しいあなたがきっと見つかる</p>
      <p class = "display-1 font-weight-normal">ICHIGO</p>
      <p class="h4"></p>
      </div> 
    </div>
  <div class="row">
    <div class="col-12" style = "height:100vh;">
      <p class=" display-3 text-center pt-3 ">ABOUT</p>
        <p class="text-center pt-5">
           将来の夢は～でした。一度はこんな仕事がしたかった。<br>
           このように思っている。もしくは経験したことがございませんか？<br>
           もしくは『将来こういう仕事に就きたいけど、自分の周りでそのような人はいないから不安だ』<br>
           という方もいるでしょう。
        </p>
        <P class="text-center pt-5">
          このサイトは、そのように思っている方と、実際に人手が欲しい企業様とを繋ぐ経験報酬制お手伝いサイトです。<br>
          ご紹介できるお仕事は、例えば、農業、漁業、ライター、テーマパーク、工芸、撮影と通常アルバイトでは経験できないお仕事ばかり。<br>
          誰もが一度は憧れたお仕事に、お手伝いに行くことができます。
        </P>
        <P class="text-center pt-5">
          専門性が高いお仕事のため、実際に賃金が支払われることはございません。<br>
          ですが、企業様からはその分、普段できない経験と、お気持ちのプレゼントがございます。<br>
          ここで学んだことをきっかけに、就職、起業、独立等々を考えてみるのもいいかもしれません。<br>
          経験とは何にも代えがたい宝物です。<br>
          新しい自分を見つけてみませんか？
        </P>
    </div>
  </div>
  <div class="row bg-info">
    <div class="col-12" style = "height:100vh;">
    <p class="display-3 text-center text-white pt-5">WORKS</p>
      <div class="card-group pt-5">
        <div class="card">
          <img src='/nougyou.jpg' class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">農業、漁業、畜産業</h5>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="card">
          <img src='/iruka.jpg' class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">テーマパーク</h5>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="card">
          <img src='/kougei.jpg' class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">伝統工芸</h5>
             <p class="card-text"></p>
          </div>
        </div>
        <div class="card">
          <img src='/satuei.jpg' class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">メディア</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" style = "height:100vh;">
    <p class="display-4 text-center  pt-5">ご登録からの流れ</p>
      <div class="card-group pt-5">
        <div class="card">
          <i class="skill-icon fa fa-search text-center text-warning pt-3" style="font-size:70px;"></i>
          <div class="card-body">
            <h5 class="card-title">探してみよう</h5>
            <p class="card-text">
             お手伝いしてみたい！と思ったら企業様に連絡してみてください。<br>
             折り返しのご連絡がございます。
            </p>
          </div>
        </div>  
        <div class="card">
          <i class="skill-icon fa fa-user-circle text-center text-warning pt-3"style="font-size:70px;"></i>
          <div class="card-body">
            <h5 class="card-title">登録しよう</h5>
          　<p class="card-text">
              企業様も貴方のプロフィールを見ています。<br>
              今までやってきたこと、やりたいもの、自由に書いてください。
            </p>
          </div>
        </div>
        <div class="card">
          <i class="skill-icon fa fa-child text-center text-warning pt-3" style="font-size:70px;"></i>
          <div class="card-body">
            <h5 class="card-title">お手伝いにいこう</h5>
            <p class="card-text">
              企業様から連絡があり、日にちが決まればお手伝いスタートです。<br>
              どんな一日が待っているでしょう。<br>
              きっとあなたにしかできない経験が待っています。
            </p>
          </div>
        </div>
        <div class="card">
          <i class="skill-icon fa fa-pencil text-center text-warning pt-3" style="font-size:70px;"></i>
          <div class="card-body">
            <h5 class="card-title">日記を書こう</h5>
            <p class="skill-text">
              お手伝いが終わりましたら、日記を書いてください。<br>
              一日の感想を記して、記録に残しましょう。<br>
              後日企業様から、お礼の品が届きます。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-info">
    <div class="col-12" style = "height:100vh;">    
      <p class="display-3 text-center text-white pt-5">CONTACT</p>
      <form>
        <div class="form-group mb-4 text-white">
          <label for="Q_Name">お名前</label>
          <input type="text" class="form-control" id="Q_Name">
        </div>
        <div class="form-group mb-4 text-white">
          <label for="Q_Mail">メールアドレス</label>
          <input type="text" class="form-control" id="Q_Mail">
        </div>
        <div class="form-group mb-4 text-white">
          <label for="Q_Ask">お問い合わせ内容</label>
          <textarea rows="5" class="form-control" id="Q_Ask"></textarea>
        </div>
        <button type="submit" class="btn btn-warning">送信</button>
      </form>
    </div>
  </div>
</div>
</div> 